<div class='form__input-container'>
  <label class='form__input-label' for='{{name}}'>
    {{#if value}}
      {{label}}
    {{else}}
    {{/if}}
  </label>
  <input
    type='{{type}}'
    class='form__input'
    id='{{name}}'
    placeholder='{{label}}'
    value='{{value}}'
    name='{{name}}'
    required='{{required}}'
  />
  {{#if error}}
    <span class='form__input-error'>{{error}}</span>
  {{/if}}
</div>