<div class="chats__chat-card chat-card" active="{{is_active}}">
  {{! Блок с аватаркой и значом сети }}
  <div class="chat-card__avatar-wrapper chat-card__avatar-wrapper_is-online">
    {{#if avatar}}
      <img
        class="chat-card__avatar"
        src="{{avatarSVG}}"
        alt="аватар"
      />
    {{else}}
      <span class="chat-card__initials">{{initials}}</span>
    {{/if}}
  </div>
  <div class="chat-card__info-blok">
    {{! Блок с названием чата и датой последнего сообщения }}
    <div class="chat-card__info_wrapper chat-card__info_wrapper_top">
      {{! Название чата }}
      <span class="chat-card__full-username">
        {{title}}
      </span>
      {{! Блок с отчетом о получении и датой последнего сообщения }}
      <div class="chat-card__report">
        {{! Блок с отчетом о получении }}
        {{! временная конструкция}}
        {{#if is_my}}
          {{> checkmark}}
        {{/if}}
        {{! дата последнего сообщения }}
        <time
          class="chat-card__time"
          datetime="{{last_message.time}}"
        >{{display_time}}</time>
      </div>
    </div>
    <div class="chat-card__info_wrapper chat-card__info_wrapper_bottom">
      <p class="chat-card__message">
        {{#if is_my}}
          <span>Вы: </span>
        {{/if}}
        {{last_message.content}}
      </p>
      {{#if unread_count}}
        <span class="chat-card__unread-count">
          {{unread_count}}
        </span>
      {{/if}}
    </div>
  </div>  
</div>